* {
    box-sizing: border-box;
    margin: 0;
    max-width: 1000px;
} 

header {
    display: flex;
    align-items: center;
    background-color: rgb(29, 29, 82);
    color: white;
    height: 100px;
    flex-wrap: wrap;
}

h1 {
    font-size: 250%;
    padding-left: 15px;
    font-family: ui-serif;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none;
    margin-left: 250px;
}

a {
    color: white;
}

.legend:hover {
    font-size: 125%;
}

#profilephoto {
    display: flex;
    height: 75px;
    margin-left: 10px;
    border-radius: 30%;
}

article {
    display: flex;
    flex-wrap: wrap;
}

#imagebox {
    height: 150px;
    width: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2016/06/02/02/35/mesh-1430107_960_720.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
}

aside {
    width: 20%;
    text-align: end;
    padding: 20px;
    margin: 3px;
    border-right-style: solid;
    flex-wrap: wrap;
}

aside h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(29, 29, 82);
    font-size: 30px;
}

section p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(29, 29, 82);
}

section {
    width: 75%;
    padding: 20px;
    margin: 3px;
    margin-right: 10px;

}

.project1 {
    position: relative;
    height: 300px;
    width: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2022/06/11/01/28/binary-code-7255440_960_720.jpg");
    background-size: cover;
    background-position: center;
    filter: drop-shadow(5px 5px 4px black);
    border: 3px solid rgb(34, 102, 141);
}

.project2 {
    position: relative;
    height: 150px;
    width: 49%;
    background-image: url("https://cdn.pixabay.com/photo/2018/05/14/16/54/cyber-3400789_960_720.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    filter: drop-shadow(5px 5px 4px black);
    margin-right: 5px;
}

.project3 {
    position: relative;
    height: 150px;
    width: 49%;
    background-image: url("https://cdn.pixabay.com/photo/2016/03/26/13/09/cup-of-coffee-1280537_960_720.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    filter: drop-shadow(5px 5px 4px black);
    margin-left: 5px;
}

.align {
    display: flex;
    flex-wrap: wrap;
}

section ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(29, 29, 82);
    text-decoration: underline ;
}

section ul a {
    color: rgb(29, 29, 82);
}

section ul a:hover {
    font-size: 125%;
}

footer {
    width: 100%;
    background-color: rgb(29, 29, 82);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    font-size: 14px;
}

footer a:link {
    text-decoration: none;
}

h1::after {
    font-family: 'ui-serif';
    content: "Klotzbach";
    color: grey;
    margin-left: 7px;
}

.textbox1 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgb(34, 102, 141);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

.textbox1:hover {
    font-size: 150%;
    font-weight: bolder;
    filter: drop-shadow(5px 5px 4px gold);
}

.textbox2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgb(34, 102, 141);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

.textbox2:hover {
    font-size: 150%;
    font-weight: bolder;
    filter: drop-shadow(5px 5px 4px gold);
}

h4 a:link {
    text-decoration: none;
}

 .textbox3 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgb(34, 102, 141);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

.textbox3:hover {
    font-size: 150%;
    font-weight: bolder;
    filter: drop-shadow(5px 5px 4px gold);
}

@media screen and (max-width: 990px) {
    nav ul {
        margin-left: 100px;
    }
}

@media screen and (max-width: 960px) {
    nav ul {
        margin-left: 10px;
    }
}

@media screen and (max-width: 768px) {
    section ul {
        display: block;
        list-style-type: square;
    }

    .project2, .project3 {
        width: 100%;
        height: 300px;
        margin-left: 0;
        margin-right: 0;
    }
}

